/* General Layout and Flexbox */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 12px;
}

.textCenter {
  text-align: center;
}

.p10 {
  padding: 10px;
}

.maxWxl {
  max-width: 36rem;
}

.mxAuto {
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.bgGradient {
  background: linear-gradient(to bottom, #f8fafc, #f1f5f9);
}

.roundedFull {
  border-radius: 9999px;
}

.w80 {
  width: 20rem;
}

.h80 {
  height: 20rem;
}

.mt10 {
  margin-top: 2.5rem;
}

.mdMt20 {
  margin-top: 5rem;
}

.overflowHidden {
  overflow: hidden;
}

.mdH96 {
  height: 24rem;
}

.mdW96 {
  width: 24rem;
}

/* Dark Mode */
.darkMode {
  background-color: #111827;
  color: #ffffff;
}

/* Shadows */
.shadowWhite {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.shadowBlack {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Flexbox Utilities */
.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.itemsCenter {
  align-items: center;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexGrow {
  flex-grow: 1;
}

/* Padding and Margin */
.p4 {
  padding: 1rem;
}

.mdP8 {
  padding: 2rem;
}

.py4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt6 {
  margin-top: 1.5rem;
}

.py10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ml4 {
  margin-left: 1rem;
}

.gap10 {
  gap: 2.5rem;
}

/* Typography */
.text5xl {
  font-size: 3rem;
}

.textMd {
  font-size: 1rem;
}

.textXl {
  font-size: 1.25rem;
}

.textBlack {
  color: #111827;
}

.darkText {
  color: #ffffff;
}

.textGray800 {
  color: #1f2937;
}

.textGray200 {
  color: #e5e7eb;
}

.textBlue700 {
  color: #1d4ed8;
}

.leading8 {
  line-height: 2rem;
}

.fontBurtons {
  font-family: 'Burtons', sans-serif;
}

/* Buttons and Links */
.resume-link,
.projects-link,
.navLink,
.emailLink {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
  font-family: 'Burtons', sans-serif;
}

.resume-link:hover,
.projects-link:hover,
.navLink:hover,
.emailLink:hover {
  color: #0072b1;
}

.cursorPointer {
  cursor: pointer;
  font-size: 1.5rem;
}

/* Icons */
.iconLink,
.iconLinkGH {
  color: inherit;
  transition: color 0.3s;
}

.iconLink:hover,
.iconLinkGH:hover {
  color: #0072b1;
}

.iconSize {
  font-size: 1.5rem;
}

/* Navigation */
.navLinks {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.navItem {
  margin-left: 20px;
}

.fixedToggle {
  position: fixed;
  right: 2rem;
  top: 20px;
  transform: translateY(-50%);
}

.themeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.themeIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sectionContainer, .imageContainer {
  margin-bottom: 2rem;
  text-align: center;
}

/* Sections and Containers */
.sectionContainer {
  width: 100%;
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sectionTitle {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  color: inherit;
}

.sectionText {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: inherit;
}

.highlight {
  color: #1d4ed8;
}

/* Image Container */
.imageContainer {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin-top: 2.5rem;
  @media (min-width: 768px) {
    width: 24rem;
    height: 24rem;
    margin-top: 5rem;
  }
  overflow: hidden;
  border-radius: 9999px;
}

.image {
  object-fit: cover;
}

.codeImageContainer {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.codeImage {
  object-fit: cover;
  transition: filter 0.3s ease;
}
.darkMode .codeImage {
  filter: brightness(0.7) contrast(1.2); /* Adjust these values to fit your needs */
}