.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 10px 0;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.textCenter {
  text-align: center;
}

.p10 {
  padding: 10px;
}

.maxWxl {
  max-width: 36rem;
}

.mxAuto {
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.bgGradient {
  background: linear-gradient(to bottom, #f8fafc, #f1f5f9);
}

.roundedFull {
  border-radius: 9999px;
}

.w80 {
  width: 20rem;
}

.h80 {
  height: 20rem;
}

.mt10 {
  margin-top: 2.5rem;
}

.mdMt20 {
  margin-top: 5rem;
}

.overflowHidden {
  overflow: hidden;
}

.mdH96 {
  height: 24rem;
}

.mdW96 {
  width: 24rem;
}

.darkMode {
  background-color: #111827;
  color: #ffffff;
}

.shadowWhite {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.shadowBlack {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.justifyCenter {
  justify-content: center;
}

.flexGrow {
  flex-grow: 1;
}

.itemsCenter {
  align-items: center;
}

.p4 {
  padding: 1rem;
}

.mdP8 {
  padding: 2rem;
}

.text5xl {
  font-size: 3rem;
}

.py4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt6 {
  margin-top: 1.5rem;
}

.textBlack {
  color: #111827;
}

.darkText {
  color: #ffffff;
}

.textGray800 {
  color: #1f2937;
}

.textGray200 {
  color: #e5e7eb;
}

.mdTextXl {
  font-size: 1.25rem;
}

.textBlue700 {
  color: #1d4ed8;
}

.leading8 {
  line-height: 2rem;
}

.textMd {
  font-size: 1rem;
}

.portfolioItem {
  text-align: center;
  margin-top: 1rem;
}

.roundedXl {
  border-radius: 0.75rem;
}

.cursorPointer {
  cursor: pointer;
  font-size: 1.5rem;
}

.fixedToggle {
  position: fixed;
  right: 2rem;
  top: 20px;
  transform: translateY(-50%);
}

.py10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.gap10 {
  gap: 2.5rem;
}

.lgFlex {
  display: flex;
}

.lgFlexRow {
  flex-direction: row;
}

.lgFlexWrap {
  flex-wrap: wrap;
}

.fontBurtons {
  font-family: 'Burtons', sans-serif;
}

.px4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.roundedMd {
  border-radius: 0.375rem;
}

.ml4 {
  margin-left: 1rem;
}

.textXl {
  font-size: 1.25rem;
}

.minHScreen {
  min-height: 100vh;
}

.imageContainer {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin-top: 2.5rem;
  @media (min-width: 768px) {
    width: 24rem;
    height: 24rem;
    margin-top: 5rem;
  }
  overflow: hidden;
  border-radius: 9999px;
}

.image {
  object-fit: cover;
}

.iconLink {
  color: inherit;
  transition: color 0.3s;
}
.iconLinkGH {
  color: inherit;
  transition: color 0.3s;
}

.iconLink:hover {
  color: #0072b1; /* LinkedIn blue */
}

.iconLinkGH:hover {
  color: #881e65; /* LinkedIn blue */
}
.codeImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.resume-link:hover {
  color: #0072b1;
}

.projects-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  margin-left: 5px;
}

.projects-link:hover {
  color: #0072b1;
}

.iconSize {
  font-size: 1.5rem;
}
